bot_help.json
{
  "name": "bot_help",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        720
      ],
      "id": "811ad647-1fc6-46f9-a0ef-149fca34efad",
      "name": "Telegram Trigger",
      "webhookId": "58dc428e-687c-44f8-a9eb-4079b5f0ca00",
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Hola, soy HelpDeskBot 👋  Estoy aquí para ayudarte con solicitudes de soporte de forma rápida y ordenada.  Por favor escribe el número de la opción que quieras usar.  Menú principal: \n0. Ayuda  \n1. Crear solicitud  \n2. Consultar estado de solicitud  \n3. Mis solicitudes  \n4. Reportes  \n5. Configuración",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        736
      ],
      "id": "06f973c7-c01f-4a71-86af-56007477cfe8",
      "name": "Bienvenida",
      "webhookId": "55460c98-2064-49ba-97fa-1320ce37142c",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1934465681,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1934465681"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1088,
        304
      ],
      "id": "2e656926-fd26-4e06-bf4d-f5c83030b6dd",
      "name": "identificacion usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a498205c-9820-4228-9387-770f0e1725ae",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "37351ab4-36af-4c22-8950-a63abd414244",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "esperando_descripcion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6a96f6a3-0388-4e2a-87e6-0b3d64e5552d",
                    "leftValue": "={{ $json.estado.toLowerCase().trim() }}",
                    "rightValue": "esperando_tipo",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "39d5c612-7cab-4288-a1ea-e35eeb7f3c31",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "pendiente",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2ee1aba1-2214-43bd-aeac-751f42f84719",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "inicio",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f26397eb-6f51-47bb-a77f-1d610e1cf12c",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "esperando_prioridad",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "afb74299-b590-4bf8-ac53-20cbfe712c8f",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "esperando_id_ticket",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -592,
        272
      ],
      "id": "d3312692-01c2-4a11-bb8c-3d1d780b6e06",
      "name": "estado",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7f204325-4b6d-4a36-9ec8-200586b8d69d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "904c552f-283f-40e2-9219-3664aefbe70e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -752,
        704
      ],
      "id": "f8458ad4-c524-4185-8c50-bd28b316befc",
      "name": "filtro saludo",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¡Hola! No reconozco ese comando. Si quieres abrir el menú de soporte, por favor escribe Hola.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        384
      ],
      "id": "ab0d535f-69ea-4cdc-b1c1-9ae2e1abc411",
      "name": "vuelve a escribir",
      "webhookId": "ceba2e79-b37c-48c6-8257-6928cca12899",
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Descripción recibida. Por favor, selecciona la prioridad de tu reporte:\"",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "alta",
                    "additionalFields": {
                      "switch_inline_query_current_chat": "alta"
                    }
                  },
                  {
                    "text": "media",
                    "additionalFields": {
                      "switch_inline_query_current_chat": "media"
                    }
                  },
                  {
                    "text": "baja",
                    "additionalFields": {
                      "switch_inline_query_current_chat": "baja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        240
      ],
      "id": "728f69bb-3c34-4ed9-93f2-fee3c57506e5",
      "name": "Seleccion prioridad",
      "webhookId": "1f0d79ad-5e70-4739-b049-5fba45b53954",
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1819386863,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1819386863"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1504
      ],
      "id": "f1ac3538-26cb-4826-b668-9f89a7353467",
      "name": "buscar ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📋 **Tus Solicitudes Registradas:**\n\n{{ $items().map(item => \"🎫 ID: \" + item.json.id_ticket + \" | 📝 \" + item.json.descripcion).join('\\n') }}\n\n---\n✍️ **Por favor, escribe el número de ID del ticket que deseas consultar.**",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        1504
      ],
      "id": "41e60721-51ef-492f-ba02-767abf0a5c07",
      "name": "Mensaje opcion 2",
      "webhookId": "d45c180e-0db4-4e27-af7a-d1f29ea1f132",
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1934465681,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1934465681"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado": "esperando_descripcion"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion_temporal",
              "displayName": "descripcion_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        1504
      ],
      "id": "7dd769b6-4f69-4fe3-b2db-92187f684a49",
      "name": "cambio de estado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3323ec51-56a3-42e8-b359-de2326e791bf",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "50b748ff-16c6-4ca7-a6b9-d6884fe0c962",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2809c799-9fd7-4438-889d-74bc1f68ad4c",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dec2da50-5df5-4dd7-9d73-c9a19d5872cf",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a33fffb-085b-45de-b852-58a9a1bd0b2a",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38403654-d9ea-41ac-a957-6110a6ad3bb5",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ec4c57e-cee9-43bf-882c-ff15ede16a1d",
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        976
      ],
      "id": "405e49c4-83c1-49f0-aeeb-3757c01b91e2",
      "name": "opciones"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1819386863,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1819386863"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_ticket",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        2160
      ],
      "id": "fa354ee7-2ca3-43ba-b1a3-10490dca5059",
      "name": "ticket encontrado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Información de tu Ticket:\n🎫 ID: {{ $json.id_ticket }}\n🚦 Prioridad: {{ $json.prioridad }}\n📝 Descripción: {{ $json.descripcion }}\n📍 Estado actual: {{ $json.estado }}\n\n🔙 Escribe \"9\" para volver al Menú Principal.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        2272
      ],
      "id": "ae462475-529c-4bea-be90-022e8f2a028e",
      "name": "contenido solicitud",
      "webhookId": "6b02af95-0292-42fb-bae7-98be9b77daf9",
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=\n📋 **Tus Solicitudes Registradas:**\n\n{{ $items().map(item => \"🆔 ID: \" + item.json.id_ticket + \" | 📌 Estado: \" + item.json.estado).join('\\n') }}\n\n---\n🔙 Escribe **9** para volver al menú principal.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        1696
      ],
      "id": "836b9a61-402e-48cd-afc9-c965979de656",
      "name": "mis solicitudes",
      "webhookId": "619887fc-fba7-4079-9d40-452c29801f4d",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1819386863,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1819386863"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1696
      ],
      "id": "2dd6a90e-1f67-4721-a257-fd3b7aa6dc19",
      "name": "cargar solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1819386863,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1819386863"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1888
      ],
      "id": "89c0cb4c-e9c9-41f6-9e1d-7d050d4bd2f0",
      "name": "cargar reportes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📊 **Tu Reporte de Actividad**\n\n✅ **Total de solicitudes:** {{ $items().length }}\n⏳ **Abiertas/Pendientes:** {{ $items().filter(item => item.json[\"estado\"] == \"abierto\").length }}\n🎉 **Finalizadas:** {{ $items().filter(item => item.json[\"estado\"] == \"cerrado\").length }}\n\n---\n🔙 Escribe **9** para volver al menú principal.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        1888
      ],
      "id": "1cf97a4a-41a9-4fbd-9e22-6b963daeb847",
      "name": "mis reportes",
      "webhookId": "59dbc21c-f4cc-4395-bf46-61fec1b5ae65",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=👤 Usuario: {{ $node[\"identificacion usuario\"].json[\"nombre\"] }}\n🤖 Bot ID: asis_bot_v1.0\n\n🔙 Escribe 9 para volver al menú principal.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        2080
      ],
      "id": "24b7d7c9-2274-4aa2-bc04-6b7c54eba25a",
      "name": "configuracion",
      "webhookId": "692b083a-bde4-4782-825d-e1b02a517f22",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🆘 Centro de Ayuda y Soporte\n\n¡Hola! Aquí te explico qué puedes hacer con cada opción:\n\n1. Crear: Registra un nuevo ticket de soporte técnico.\n\n2. Consultar: Escribe el ID de un ticket para ver su estado actual.\n\n3. Mis solicitudes: Mira la lista de todos tus tickets abiertos.\n\n4. Reportes: Un resumen estadístico de tu actividad.\n\n💡 Recuerda que siempre puedes escribir 9 para regresar al menú inicial.\n\nSi tienes problemas técnicos mayores, contacta a soporte@tuempresa.com.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        896
      ],
      "id": "db8f9aa1-ff89-4bb4-9e9a-9fbd72bcfe9f",
      "name": "Send a text message1",
      "webhookId": "aebf9825-3074-46a0-aa7b-16b7089f227a",
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1313084243,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1313084243"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "pantalla": "={{ \n  ($node[\"opciones\"]?.activeRule !== undefined) ? \n    (['Ayuda', 'Crear', 'Consultar', 'Mis Solicitudes', 'Reportes', 'Configuración'][$node[\"opciones\"].activeRule] || 'Opción Desconocida') : \n  ($node[\"estado\"]?.activeRule !== undefined) ? \n    (['Prioridad', 'Descripción', 'Estado 2', 'Estado 3', 'Estado 4'][$node[\"estado\"].activeRule] || 'Procesando Datos') : \n  ($node[\"Telegram Trigger\"].json.message.text == '9' || $node[\"Telegram Trigger\"].json.message.text == '/start') ? \n    'Menú Principal / Inicio' : 'Inicio / Bienvenida'\n}}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $node[\"If\"]?.currentContext?.output == 'false' ? 'Error: Descripción muy corta' : 'Navegación exitosa' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        1104
      ],
      "id": "e5a803a6-6c06-465b-9def-3b9c36edc905",
      "name": "log de navegacion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✅ ¡Solicitud recibida! Tu reporte ha sido guardado con éxito. Puedes consultar su avance desde el menú principal.\n\n🔙 Escribe 9 para volver al menú principal",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -96
      ],
      "id": "3298cd99-8fc0-4ac5-82d8-33248c8ea25e",
      "name": "solicitud guardada",
      "webhookId": "192c9877-92bb-4654-b4fb-cdde1e7c5c68",
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1934465681,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1934465681"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado": "=esperando_tipo",
            "nombre": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
            "descripcion_temporal": "=",
            "rol": "usuario",
            "activo": "si"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion_temporal",
              "displayName": "descripcion_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        192
      ],
      "id": "4ba3c6cb-6965-4717-bfca-4babec8e3653",
      "name": "guardar1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1819386863,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1819386863"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "descripcion": "={{ $('identificacion usuario').item.json.descripcion_temporal }}",
            "fecha_creacion": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "id_ticket": "={{ $now.toFormat('yyyyMMddHHmmss') }}",
            "prioridad": "={{ $('Telegram Trigger').item.json.message.text.includes('alta') ? '1 - URGENTE' : ($('Telegram Trigger').item.json.message.text.includes('media') ? '2 - NORMAL' : '3 - BAJA') }}",
            "tipo": "={{ $('identificacion usuario').item.json.rol }}",
            "estado": "esperando_prioridad"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        -96
      ],
      "id": "b91df950-2919-400a-8297-6cd4e0c6dbd4",
      "name": "guardar prioridad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1934465681,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1934465681"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado": "inicio"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -96
      ],
      "id": "9707a7a8-8bd3-450c-86d9-362da873e2c7",
      "name": "estado1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1934465681,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1934465681"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado": "pendiente"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        736
      ],
      "id": "d96871ff-7a51-4b43-9a22-2621230063d1",
      "name": "estado2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1934465681,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1934465681"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado": "esperando_descripcion",
            "activo": "=",
            "rol": "=",
            "nombre": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
            "descripcion_temporal": "={{ $('Telegram Trigger').item.json.message.text }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion_temporal",
              "displayName": "descripcion_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        1312
      ],
      "id": "8f3bcb93-f66a-4a01-9bbf-16b67508a39a",
      "name": "estado3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5140b67d-c557-4c88-a045-31cc2188d72f",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "d9d20577-29c5-4d3b-811f-c4f72c85b92d",
              "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
              "rightValue": "^\\d+$",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            },
            {
              "id": "a195b9b6-9745-4a06-b688-a6631c9e3ee7",
              "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        -80
      ],
      "id": "097313f6-5690-48be-9788-a9769db3298d",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "\"Por favor, sé más específico. Describe tu problema con al menos 10 letras.\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        80
      ],
      "id": "285f5610-01cb-4e4c-a2aa-857e3f8738bb",
      "name": "Send a text message2",
      "webhookId": "ce6568f7-a352-4ce5-bb0f-e3a1ba84c333",
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1934465681,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNY9Uy0WdOZZNL1QCMkoOhZWJJmYSxA1D3RzKKzS12M/edit#gid=1934465681"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -880,
        304
      ],
      "id": "21d98dc0-b4ea-4226-8f20-ccc285fdaff3",
      "name": "estado solicitud",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xS4Q3I0mLE44jE9G",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "\"Has elegido Crear Solicitud. Por favor, escribe una descripción breve de tu problema.\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        1280
      ],
      "id": "c7ed48e3-2bc7-4813-b6a9-500052ce0a94",
      "name": "describe solicitud",
      "webhookId": "1861b625-c41a-446a-a997-1afaa331e6e9",
      "credentials": {
        "telegramApi": {
          "id": "nHos0XOfQHlfxxGT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "filtro saludo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bienvenida": {
      "main": [
        [
          {
            "node": "estado2",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "identificacion usuario": {
      "main": [
        [
          {
            "node": "estado solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "estado": {
      "main": [
        [
          {
            "node": "Bienvenida",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seleccion prioridad",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "opciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "vuelve a escribir",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ticket encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtro saludo": {
      "main": [
        [
          {
            "node": "Bienvenida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "identificacion usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccion prioridad": {
      "main": [
        [
          {
            "node": "guardar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje opcion 2": {
      "main": [
        [
          {
            "node": "cambio de estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cambio de estado": {
      "main": [
        []
      ]
    },
    "opciones": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "describe solicitud",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscar ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cargar solicitudes",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cargar reportes",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "configuracion",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar ticket": {
      "main": [
        [
          {
            "node": "Mensaje opcion 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ticket encontrado": {
      "main": [
        [
          {
            "node": "contenido solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contenido solicitud": {
      "main": [
        []
      ]
    },
    "cargar solicitudes": {
      "main": [
        [
          {
            "node": "mis solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cargar reportes": {
      "main": [
        [
          {
            "node": "mis reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar prioridad": {
      "main": [
        [
          {
            "node": "estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "estado1": {
      "main": [
        [
          {
            "node": "solicitud guardada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "guardar prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          },
          {
            "node": "log de navegacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "estado solicitud": {
      "main": [
        [
          {
            "node": "estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "describe solicitud": {
      "main": [
        [
          {
            "node": "estado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fe1ef24c-b72b-43dd-9475-8c90bcfc201e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75820eb43fb243f2584f04fdd5330d2c6837c42ad2c09a4932cceee626b9d489"
  },
  "id": "fV4HMbe52lhmTllT",
  "tags": []
}